.header
{
    height: 180px;
    width: 100%;
}


.role
{
    font-size: 80px;
    float: left;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: -10px;
    background-color: rgba(6, 145, 131, 0.747);
    padding-right: 10px;
    margin-left: -10px;
    padding-left: 10px;
}

.button
{
    float: right;
    background-color: rgb(14, 152, 243);
    width: 80px;
    height: 30px;
    font-size: 20px;
    border-radius: 5px;
    transition-duration: 0.4s;   
}

.Logout
{
    text-decoration: none;
    color: White;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.button:hover {
    background-color: red; 
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



.buttonset
{
   margin-left: 600px;
} 

.button1
{
    background-color: rgb(3, 176, 189);
    width: 300px;
    height: 60px;
    font-size: 20px;
    border-radius: 20px;
    border: 4px solid #030f46;
    
}

.button1:hover
{
    background-color: rgb(209, 235, 238);
}

.button2
{
    background-color: rgb(4, 113, 121);
    width: 300px;
    width: 300px;
    height: 60px;
    font-size: 20px;
    border-radius: 20px;
    border: 4px solid #030f46;
    
  
}

.button2:hover
{
    background-color: rgb(209, 235, 238);
}

.button3
{
    background-color: rgb(2, 59, 63);
    width: 300px;
    width: 300px;
    height: 60px;
    font-size: 20px;
    border-radius: 20px;
    border: 4px solid #030f46;
}

.button3:hover
{
    background-color: rgb(209, 235, 238);
}

.link1
{
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}

.link1:hover
{
    color: black;
}

.link2
{
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}

.link2:hover
{
    color: black;
}

.link3
{
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}

.link3:hover
{
    color: black;
}